<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-info-desktop">
      <p>Atendimento: Segunda a Sexta, das 8h às 17h</p>
      <p>E-mail: TecnoXEmpress@gmail.com</p>
      <p>Telefone: +55 (11) 9001-5002</p>
      <p>WhatsApp: (11) 9002-8922</p>
      <p class="address">Rua Alvaro Gonzales, 734</p>
    </div>

    <div class="payment-methods-desktop">
      <img src="/footer/imagevisa.png" alt="Visa" class="payment-icon" />
      <img src="/footer/imagemaster.png" alt="MasterCard" class="payment-icon" />
      <img src="/footer/imageelo.png" alt="Elo" class="payment-icon" />
      <img src="/footer/imageamerican.png" alt="American Express" class="payment-icon" />
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 Archer Studios. | Projeto acadêmico.</p>
  </div>
</footer>

