.background {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #C1DCDC;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed; /* fixa o background para cobrir toda a tela */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.login-container {
    background-color: white;
    padding: 3.5rem; /* padding maior */
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 350px; /* largura maior */
    margin: 8rem auto;
    text-align: center;
    font-family:'Poppins', sans-serif;
}

.login-container h3 {
    white-space: nowrap;
    font-size: 1.75rem;
    margin-bottom: 30px;
    color:#0077cc;
}

.login-container input {
    width: 90%;
    padding: 0.85rem 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.Login {
    width: 100%;
    padding: 12px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 0.75rem;
}

.Esqueceu {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    color: #071118;
    text-decoration: none;
    border: none;
    background-color: white;
}

.login-container p {
    margin-top: -10px;
    font-size: 20px;
    text-align: left;
    color: rgb(122, 121, 121);
    font-size: 1.30rem;
}

.login-container img {
    margin-bottom: -50px;
    margin-top: -50px;
}

.CConta {
    margin-bottom: -10px;
    font-weight: 500;
    color: #0077cc;
    text-decoration: none;
    font-size: 14px;
    border: none;
    background-color: white;
    display: inline-block;
    cursor: pointer;
}
