/* Variáveis de cores e estilos */
:root {
  --primary-color: #0077cc;
  --text-color: #333;
  --light-gray: #f5f5f5;
  --border-color: #e0e0e0;
  --border-radius: 12px;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  --transition: all 0.3s ease;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #C1DCDC;
  position: fixed; /* fixa o background para cobrir toda a tela */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Container principal */
.login-container {
  background-color: white;
  padding: 3rem; /* padding menor */
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  width: 100%;
  max-width: 360px; /* largura menor */
  margin: 8rem auto;
  text-align: center;
  font-family: 'poppins', sans-serif;
}

/* Cabeçalho */
.login-container h3 {
  color: var(--primary-color);
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0 0 0.6rem;;
  line-height: 1.2;
  letter-spacing: 0.5px;
  color: #0077cc;
  margin-top: -2.5rem;
}

/* Campos de formulário */
.login-container p {
  color: rgb(122, 121, 121);
  text-align: left;
  margin-bottom: 1rem;
  font-size: 1.30rem;
}

.form-control {
  width: 90%;
  padding: 0.85rem 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 0.95rem;
  transition: var(--transition);
  background-color: var(--light-gray);
}

.form-control:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(0, 119, 204, 0.2);
  border-radius: 12px;
}

/* Botões */
.btn {
  display: inline-block;
  padding: 0.85rem 1.5rem;
  border: none;
  border-radius: var(--border-radius);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--primary-color);
  color: white;
  opacity: 1;
  display: block;
  min-height: 48px;
  text-decoration: none;
}

.LLogin {
  margin-bottom: -10px;
  color: #0077cc;
  text-decoration: none;
  font-size: 14px;
  border: none;
  background-color: white;
  cursor: pointer;
  font-weight: 500;
  display: inline-block;

  
}

.logo {
  height: auto;
  width: 200px;
  margin: -3.2rem auto 0.5rem;
  display: block;
}

.Cadastrar {
  display: block;
  padding: 0.85rem 1.5rem;
  border: none;
  border-radius: var(--border-radius);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  opacity: 1;
  min-height: 48px;
  background-color: #0077cc;
  border-radius: 12px;
  margin-top: 1.75rem;
  margin-bottom: 0.75rem;
}

