/* You can add global styles to this file, and also import other style files */

/* Remove margens e paddings globais */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/* Remove bordas do navegador */
* {
    box-sizing: border-box;
}
